.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #143275;
  color: white;
}

.logo {
  margin: 0;
}

.links {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}